The dataset contains two folders and four text files. 

* The *images* folder contains one subfolder for each species class and within each subfolder are the images of the birds of that species.
* The *text* folder contains one subfolder for each species class and within each subfolder are the text files with the textual descriptions of the birds. An important point is that there are 10 textual descriptions for each bird. The file names of the images and textual descriptions match to make it easier to extract the information.
* The file *classes.txt* contains the names of the classes of the problem and a numerical index associated with each class.
* The *images.txt* file contains the names of the images and a numerical index associated with each image.
* The file *image_class_labels.txt* associates an image index with a class index. This allows to know to which class a given image belongs.
* The file *train_test_split.txt* tells us which image should be used for *train* (value 1) and which image should be used for test (value 0).

In [47]:
data_directory = "CUB"

# Read classes from classes.txt file
classes = []
with open(os.path.join(data_directory, "classes.txt")) as f:
    for line in f:
        classes.append(line.strip().split()[1])
classes

['001.Black_footed_Albatross',
 '002.Laysan_Albatross',
 '003.Sooty_Albatross',
 '004.Groove_billed_Ani',
 '005.Crested_Auklet',
 '006.Least_Auklet',
 '007.Parakeet_Auklet',
 '008.Rhinoceros_Auklet',
 '009.Brewer_Blackbird',
 '010.Red_winged_Blackbird',
 '011.Rusty_Blackbird',
 '012.Yellow_headed_Blackbird',
 '013.Bobolink',
 '014.Indigo_Bunting',
 '015.Lazuli_Bunting',
 '016.Painted_Bunting',
 '017.Cardinal',
 '018.Spotted_Catbird',
 '019.Gray_Catbird',
 '020.Yellow_breasted_Chat',
 '021.Eastern_Towhee',
 '022.Chuck_will_Widow',
 '023.Brandt_Cormorant',
 '024.Red_faced_Cormorant',
 '025.Pelagic_Cormorant',
 '026.Bronzed_Cowbird',
 '027.Shiny_Cowbird',
 '028.Brown_Creeper',
 '029.American_Crow',
 '030.Fish_Crow',
 '031.Black_billed_Cuckoo',
 '032.Mangrove_Cuckoo',
 '033.Yellow_billed_Cuckoo',
 '034.Gray_crowned_Rosy_Finch',
 '035.Purple_Finch',
 '036.Northern_Flicker',
 '037.Acadian_Flycatcher',
 '038.Great_Crested_Flycatcher',
 '039.Least_Flycatcher',
 '040.Olive_sided_Flycatcher',
 '041.Scissor_tailed_Flycatcher',
 '042.Vermilion_Flycatcher',
 '043.Yellow_bellied_Flycatcher',
 '044.Frigatebird',
 '045.Northern_Fulmar',
 '046.Gadwall',
 '047.American_Goldfinch',
 '048.European_Goldfinch',
 '049.Boat_tailed_Grackle',
 '050.Eared_Grebe',
 '051.Horned_Grebe',
 '052.Pied_billed_Grebe',
 '053.Western_Grebe',
 '054.Blue_Grosbeak',
 '055.Evening_Grosbeak',
 '056.Pine_Grosbeak',
 '057.Rose_breasted_Grosbeak',
 '058.Pigeon_Guillemot',
 '059.California_Gull',
 '060.Glaucous_winged_Gull',
 '061.Heermann_Gull',
 '062.Herring_Gull',
 '063.Ivory_Gull',
 '064.Ring_billed_Gull',
 '065.Slaty_backed_Gull',
 '066.Western_Gull',
 '067.Anna_Hummingbird',
 '068.Ruby_throated_Hummingbird',
 '069.Rufous_Hummingbird',
 '070.Green_Violetear',
 '071.Long_tailed_Jaeger',
 '072.Pomarine_Jaeger',
 '073.Blue_Jay',
 '074.Florida_Jay',
 '075.Green_Jay',
 '076.Dark_eyed_Junco',
 '077.Tropical_Kingbird',
 '078.Gray_Kingbird',
 '079.Belted_Kingfisher',
 '080.Green_Kingfisher',
 '081.Pied_Kingfisher',
 '082.Ringed_Kingfisher',
 '083.White_breasted_Kingfisher',
 '084.Red_legged_Kittiwake',
 '085.Horned_Lark',
 '086.Pacific_Loon',
 '087.Mallard',
 '088.Western_Meadowlark',
 '089.Hooded_Merganser',
 '090.Red_breasted_Merganser',
 '091.Mockingbird',
 '092.Nighthawk',
 '093.Clark_Nutcracker',
 '094.White_breasted_Nuthatch',
 '095.Baltimore_Oriole',
 '096.Hooded_Oriole',
 '097.Orchard_Oriole',
 '098.Scott_Oriole',
 '099.Ovenbird',
 '100.Brown_Pelican',
 '101.White_Pelican',
 '102.Western_Wood_Pewee',
 '103.Sayornis',
 '104.American_Pipit',
 '105.Whip_poor_Will',
 '106.Horned_Puffin',
 '107.Common_Raven',
 '108.White_necked_Raven',
 '109.American_Redstart',
 '110.Geococcyx',
 '111.Loggerhead_Shrike',
 '112.Great_Grey_Shrike',
 '113.Baird_Sparrow',
 '114.Black_throated_Sparrow',
 '115.Brewer_Sparrow',
 '116.Chipping_Sparrow',
 '117.Clay_colored_Sparrow',
 '118.House_Sparrow',
 '119.Field_Sparrow',
 '120.Fox_Sparrow',
 '121.Grasshopper_Sparrow',
 '122.Harris_Sparrow',
 '123.Henslow_Sparrow',
 '124.Le_Conte_Sparrow',
 '125.Lincoln_Sparrow',
 '126.Nelson_Sharp_tailed_Sparrow',
 '127.Savannah_Sparrow',
 '128.Seaside_Sparrow',
 '129.Song_Sparrow',
 '130.Tree_Sparrow',
 '131.Vesper_Sparrow',
 '132.White_crowned_Sparrow',
 '133.White_throated_Sparrow',
 '134.Cape_Glossy_Starling',
 '135.Bank_Swallow',
 '136.Barn_Swallow',
 '137.Cliff_Swallow',
 '138.Tree_Swallow',
 '139.Scarlet_Tanager',
 '140.Summer_Tanager',
 '141.Artic_Tern',
 '142.Black_Tern',
 '143.Caspian_Tern',
 '144.Common_Tern',
 '145.Elegant_Tern',
 '146.Forsters_Tern',
 '147.Least_Tern',
 '148.Green_tailed_Towhee',
 '149.Brown_Thrasher',
 '150.Sage_Thrasher',
 '151.Black_capped_Vireo',
 '152.Blue_headed_Vireo',
 '153.Philadelphia_Vireo',
 '154.Red_eyed_Vireo',
 '155.Warbling_Vireo',
 '156.White_eyed_Vireo',
 '157.Yellow_throated_Vireo',
 '158.Bay_breasted_Warbler',
 '159.Black_and_white_Warbler',
 '160.Black_throated_Blue_Warbler',
 '161.Blue_winged_Warbler',
 '162.Canada_Warbler',
 '163.Cape_May_Warbler',
 '164.Cerulean_Warbler',
 '165.Chestnut_sided_Warbler',
 '166.Golden_winged_Warbler',
 '167.Hooded_Warbler',
 '168.Kentucky_Warbler',
 '169.Magnolia_Warbler',
 '170.Mourning_Warbler',
 '171.Myrtle_Warbler',
 '172.Nashville_Warbler',
 '173.Orange_crowned_Warbler',
 '174.Palm_Warbler',
 '175.Pine_Warbler',
 '176.Prairie_Warbler',
 '177.Prothonotary_Warbler',
 '178.Swainson_Warbler',
 '179.Tennessee_Warbler',
 '180.Wilson_Warbler',
 '181.Worm_eating_Warbler',
 '182.Yellow_Warbler',
 '183.Northern_Waterthrush',
 '184.Louisiana_Waterthrush',
 '185.Bohemian_Waxwing',
 '186.Cedar_Waxwing',
 '187.American_Three_toed_Woodpecker',
 '188.Pileated_Woodpecker',
 '189.Red_bellied_Woodpecker',
 '190.Red_cockaded_Woodpecker',
 '191.Red_headed_Woodpecker',
 '192.Downy_Woodpecker',
 '193.Bewick_Wren',
 '194.Cactus_Wren',
 '195.Carolina_Wren',
 '196.House_Wren',
 '197.Marsh_Wren',
 '198.Rock_Wren',
 '199.Winter_Wren',
 '200.Common_Yellowthroat']

In [48]:
# Read images from images directory. Each image is in a folder with the name of the class. Add the directories and the names of the images to a DataFrame.
import pandas as pd
data = []
for c in classes:
    for img in os.listdir(os.path.join(data_directory, "images", c)):
        data.append([os.path.join(data_directory, "images", c, img), c])
df_images = pd.DataFrame(data, columns=["image", "label"])

def get_number_from_name(name):
    return int(name.split("_")[-2].split(".")[0])

df_images["n"] = df_images["image"].apply(get_number_from_name)
df_images

,image,label,n
0,CUB/images/001.Black_footed_Albatross/Black_Fo...,001.Black_footed_Albatross,77
1,CUB/images/001.Black_footed_Albatross/Black_Fo...,001.Black_footed_Albatross,35
2,CUB/images/001.Black_footed_Albatross/Black_Fo...,001.Black_footed_Albatross,51
3,CUB/images/001.Black_footed_Albatross/Black_Fo...,001.Black_footed_Albatross,7
4,CUB/images/001.Black_footed_Albatross/Black_Fo...,001.Black_footed_Albatross,46
...,...,...,...
11783,CUB/images/200.Common_Yellowthroat/Common_Yell...,200.Common_Yellowthroat,94
11784,CUB/images/200.Common_Yellowthroat/Common_Yell...,200.Common_Yellowthroat,125
11785,CUB/images/200.Common_Yellowthroat/Common_Yell...,200.Common_Yellowthroat,4
11786,CUB/images/200.Common_Yellowthroat/Common_Yell...,200.Common_Yellowthroat,37
11787,CUB/images/200.Common_Yellowthroat/Common_Yell...,200.Common_Yellowthroat,104

In [49]:
# Read texts from text directory. Each text is in a folder with the name of the class. Add the directories and the names of the texts to a DataFrame.
data = []
for c in classes:
    for txt in os.listdir(os.path.join(data_directory, "text", c)):
        data.append([os.path.join(data_directory, "text", c, txt), c])
df_texts = pd.DataFrame(data, columns=["text", "label"])

df_texts["n"] = df_texts["text"].apply(get_number_from_name)
df_texts

,text,label,n
0,CUB/text/001.Black_footed_Albatross/Black_Foot...,001.Black_footed_Albatross,10
1,CUB/text/001.Black_footed_Albatross/Black_Foot...,001.Black_footed_Albatross,82
2,CUB/text/001.Black_footed_Albatross/Black_Foot...,001.Black_footed_Albatross,69
3,CUB/text/001.Black_footed_Albatross/Black_Foot...,001.Black_footed_Albatross,68
4,CUB/text/001.Black_footed_Albatross/Black_Foot...,001.Black_footed_Albatross,41
...,...,...,...
11783,CUB/text/200.Common_Yellowthroat/Common_Yellow...,200.Common_Yellowthroat,125
11784,CUB/text/200.Common_Yellowthroat/Common_Yellow...,200.Common_Yellowthroat,86
11785,CUB/text/200.Common_Yellowthroat/Common_Yellow...,200.Common_Yellowthroat,75
11786,CUB/text/200.Common_Yellowthroat/Common_Yellow...,200.Common_Yellowthroat,77
11787,CUB/text/200.Common_Yellowthroat/Common_Yellow...,200.Common_Yellowthroat,35

In [50]:
# Join df_texts and df_images on class and n

df = df_texts.merge(df_images, on=["label", "n"])

In [51]:
# Read info about train and test from train_test_split.txt (csv separated by space)
df_train_test = pd.read_csv(os.path.join(data_directory, "train_test_split.txt"), sep=" ", header=None, names=["n", "train"])
# Join df with df_train_test on n
df = df.merge(df_train_test, on="n")

In [52]:
columns = ["n", "label", "image", "text", "train"]
df = df[columns]
df

,n,label,image,text,train
0,10,001.Black_footed_Albatross,CUB/images/001.Black_footed_Albatross/Black_Fo...,CUB/text/001.Black_footed_Albatross/Black_Foot...,0
1,10,003.Sooty_Albatross,CUB/images/003.Sooty_Albatross/Sooty_Albatross...,CUB/text/003.Sooty_Albatross/Sooty_Albatross_0...,0
2,10,004.Groove_billed_Ani,CUB/images/004.Groove_billed_Ani/Groove_Billed...,CUB/text/004.Groove_billed_Ani/Groove_Billed_A...,0
3,10,005.Crested_Auklet,CUB/images/005.Crested_Auklet/Crested_Auklet_0...,CUB/text/005.Crested_Auklet/Crested_Auklet_001...,0
4,10,006.Least_Auklet,CUB/images/006.Least_Auklet/Least_Auklet_0010_...,CUB/text/006.Least_Auklet/Least_Auklet_0010_79...,0
...,...,...,...,...,...
11783,143,062.Herring_Gull,CUB/images/062.Herring_Gull/Herring_Gull_0143_...,CUB/text/062.Herring_Gull/Herring_Gull_0143_46...,1
11784,143,066.Western_Gull,CUB/images/066.Western_Gull/Western_Gull_0143_...,CUB/text/066.Western_Gull/Western_Gull_0143_54...,1
11785,143,118.House_Sparrow,CUB/images/118.House_Sparrow/House_Sparrow_014...,CUB/text/118.House_Sparrow/House_Sparrow_0143_...,1
11786,144,118.House_Sparrow,CUB/images/118.House_Sparrow/House_Sparrow_014...,CUB/text/118.House_Sparrow/House_Sparrow_0144_...,0
11787,147,197.Marsh_Wren,CUB/images/197.Marsh_Wren/Marsh_Wren_0147_1883...,CUB/text/197.Marsh_Wren/Marsh_Wren_0147_188367...,0

In [53]:
df.to_csv("info_CUB.csv",sep=";",index=False)